<%= form_for(@interior) do |f| %>
  <% if @interior.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interior.errors.count, "error") %> prohibited this interior from being saved:</h2>

      <ul>
      <% @interior.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="responses">
    <div class="field">
      <p>Clean by room or task?</p>
      <%= f.radio_button :clean_by_room, "false" %>
      <%= f.label :clean_by_room, "Task" %>
      <%= f.radio_button :clean_by_room, "true" %>
      <%= f.label :clean_by_room, "Room" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
