<h1>Listing interiors</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    
    <tr><td>Hello</td><td><%= current_residence.name %></td></tr>
    <tr>
      <td><%= current_residence.name %></td>
      <td><%= link_to 'Show', current_residence.interior %></td>
      <td><%= link_to 'Edit', edit_interior_path(current_residence.interior) %></td>
      <td><%= link_to 'Destroy', current_residence.interior, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    
  </tbody>
</table>

<br />

<%= link_to 'New Interior', new_interior_path %>
